<a href="https://colab.research.google.com/github/d-camargo/GT00PTR007/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introdução
Pandas é uma biblioteca de software criada para a linguagem Python para manipulação e análise de dados. O Pandas é open-source e de uso gratuito (sob uma licença BSD), que fornece ferramentas para análise e manipulação de dados.
Todas as informações necessárias para entendimento ou busca das funcionalidades do Pandas pode ser encontrado no site oficial - [Pandas](https://pandas.pydata.org/)

##Python
Vamos trabalhar com algumas funções importantes do Python. Vale lembrar que vocês devem pesquisar sempre que necessitarem executar algo no Python. O primeiro local a fazer a pesquisa é na documentação do [Python](https://docs.python.org/pt-br/3.9/)
Há um [tutorial](https://docs.python.org/pt-br/3.9/tutorial/index.html) no próprio site do Python que talvez seja importante vocês olharem. Com o tempo que temos disponível na disciplina não será possível passar por detalhes, mesmo assim, aprender uma linguagem de programação ou qualquer operacionalização de software exige mais do empenho de vocês em aplicar, pesquisar e desenvolver a habilidade do que com qualquer outra coisa.
Neste tópico, portanto, segue alguns comandos e conceitos que são importantes que provem do próprio Python, ou seja, não é necessário instalação de qualquer pacote. São comandos e conceitos que eu considero importantes, não se limitem a isso...
Vamos inciar verificando a versão do Python que temos aqui no Google Colab.

In [203]:
!python --version

Python 3.7.13

###Trocar versão do Python
Como temos uma versão mais antiga rodando aqui (3.7), vamos atualizar e usar a versão mais nova do Python. Lembrando que estes comandos são do Linux, esta maquina virtual, que estamos usando no Google Colab, é uma versão do Linux (Debian), ou seja, esses comandos no Windows não farão qualquer sentido.

In [204]:
#Como temos uma versão mais antiga rodando aqui (3.7), vamos atualizar e usar a
#versão mais nova do Python. Lembrando que estes comandos são do Linux, esta
#maquina virtual, que estamos usando no Google Colab, é uma versão do Linux (Debian)
#Atualizando a versão do Python para 3.9
!sudo apt-get update -y
!sudo apt-get install python3.9

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:5 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:7 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [84.8 kB]
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,496 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,272 kB]
Hit:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,953 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,733 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,167 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,001 kB]
Fetched 13.0 MB in 4s (3,385 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  libnvidia-common-460 nsight-compute-2020.2.0
Use 'sudo apt autoremove' to remove them.
The following additional packages will be installed:
  libpython3.9-minimal libpython3.9-stdlib python3.9-minimal
Suggested packages:
  python3.9-venv binfmt-support
The following NEW packages will be installed:
  libpython3.9-minimal libpython3.9-stdlib python3.9 python3.9-minimal
0 upgraded, 4 newly installed, 0 to remove and 54 not upgraded.
Need to get 4,909 kB of archives.
After this operation, 19.1 MB of additional disk space will be used.
Get:1 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 libpython3.9-minimal amd64 3.9.12-1+bionic2 [805 kB]
Get:2 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 python3.9-minimal amd64 3.9.12-1+bionic2 [1,937 kB]
Get:3 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 libpython3.9-stdlib amd64 3.9.12-1+bionic2 [1,678 kB]
Get:4 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 python3.9 amd64 3.9.12-1+bionic2 [489 kB]
Fetched 4,909 kB in 5s (1,084 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 4.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package libpython3.9-minimal:amd64.
(Reading database ... 155202 files and directories currently installed.)
Preparing to unpack .../libpython3.9-minimal_3.9.12-1+bionic2_amd64.deb ...
Unpacking libpython3.9-minimal:amd64 (3.9.12-1+bionic2) ...
Selecting previously unselected package python3.9-minimal.
Preparing to unpack .../python3.9-minimal_3.9.12-1+bionic2_amd64.deb ...
Unpacking python3.9-minimal (3.9.12-1+bionic2) ...
Selecting previously unselected package libpython3.9-stdlib:amd64.
Preparing to unpack .../libpython3.9-stdlib_3.9.12-1+bionic2_amd64.deb ...
Unpacking libpython3.9-stdlib:amd64 (3.9.12-1+bionic2) ...
Selecting previously unselected package python3.9.
Preparing to unpack .../python3.9_3.9.12-1+bionic2_amd64.deb ...
Unpacking python3.9 (3.9.12-1+bionic2) ...
Setting up libpython3.9-minimal:amd64 (3.9.12-1+bionic2) ...
Setting up libpython3.9-stdlib:amd64 (3.9.12-1+bionic2) ...
Setting up python3.9-minimal (3.9.12-1+bionic2) ...
Setting up python3.9 (3.9.12-1+bionic2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [205]:
#Mudando a versão de uso do Python alternatives
!sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.7 1
!sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.9 2
#Após execução destes comando, retorne e veja novamente a versão do Python que 
#estamos usando agora

update-alternatives: using /usr/bin/python3.9 to provide /usr/bin/python3 (python3) in auto mode

###Funções básicas Python

In [206]:
#Variáveis: O Python, assim como qualquer outra linguagem de programação, irá trabalhar com variáveis.
#As variáveis tem como objetivo armazenar informações. Podemos usar qualquer letra
#ou conjunto de caracteres. É necessário atribuir um valor a variável para que ela
#seja "declarada". Veja o exemplo a seguir
n_acidente = 34
n_acidente

34

In [207]:
#Podemos realizar operações matemáticas com as variáveis
n_acidente + 1

35

In [208]:
#É possível armazenar uma nova variável utilizando uma já existente
n_acidente1 = n_acidente + 10
n_acidente1

44

####Trabalhando com strings

In [209]:
#É possível criar mensagens que utilizam as variáveis
print('O número de acidentes em frente ao CEFET é de,',n_acidente,'mas amanhã será de',n_acidente1)

O número de acidentes em frente ao CEFET é de, 34 mas amanhã será de 44

In [210]:
#Além de números, o Python também pode manipular strings (sequências de caracteres), 
#que podem ser expressas de diversas formas. Elas podem ser delimitadas por aspas 
#simples ('...') ou duplas ("...") e teremos o mesmo resultado. Convenciona-se 
#utilizar aspas simples.
nome = 'Diego Camargo'
profissao = 'Professor'
instituicao = 'CEFET-MG'
print(nome,'é',profissao,'no',instituicao)

Diego Camargo é Professor no CEFET-MG

In [211]:
# \ pode ser usada para escapar aspas, por exemplo
nome_logradouro = 'Rua Pingo D\'água'
nome_logradouro

"Rua Pingo D'água"

In [212]:
#Para que seja iniciada uma nova linha no texto (string) podemos adicionar '\n'
#Mas para que ocorra a quebra da linha é necessário utilizar a função print()
texto = 'Primeira linha \nSegunda Linha \nTerceira Linha'
print(texto)

Primeira linha
Segunda Linha
Terceira Linha

In [213]:
#Imagine que estamos querendo visualizar o endereço de uma pasta no computador
#e que esse endereço é: 'C:\some\name'
end = 'C:\some\name'
print(end)
#Para não ocorrer esse tipo de erro, podemos utilizar um artificio, inserir o
#'r' antes do endereço
end = r'C:\some\name'
print(end)

C:\some
ame
C:\some\name

In [214]:
#A função len() devolve o comprimento de uma string:
print('O compromento da variável "end" é igual a',len(end),'caracteres')
print('O compromento da variável "texto" é igual a',len(texto),'caracteres')

O compromento da variável "end" é igual a 12 caracteres
O compromento da variável "texto" é igual a 45 caracteres

In [215]:
#Podemos procurar por caracteres especificos nas strings. A resposta sai em 
#booleano
'\n' in texto
#Agora que sabemos que existe o caractere na string podemos usar a função remove
#para extrai-la
print(texto.replace("\n",''))
#Para subscrever o novo texto na mesma veriável
texto = texto.replace("\n",'')

Primeira linha Segunda Linha Terceira Linha

####Trabalhando com listas
Python inclui diversas estruturas de dados compostas, usadas para agrupar outros valores. A mais versátil é list (lista), que pode ser escrita como uma lista de valores (itens) separados por vírgula, entre colchetes. Os valores contidos na lista não precisam ser todos do mesmo tipo.

In [216]:
acidentes = [12,23,54,65,98,129]
acidentes
#Podemos extrair um valor específico da lista através do seu index. O índice inicia
#em 0 (zero) e vai até n (número de elementos na lista)
acidentes[0]
acidentes[4]

98

In [217]:
#É possível retirar apenas uma parte dos dados de uma lista, utilizando o index
acidentes[3:]
acidentes[2:5]

[54, 65, 98]

In [218]:
#Concatenar listas (utilizar o sinal de '+' para concatenar)
acidentes + [14,42,89]

[12, 23, 54, 65, 98, 129, 14, 42, 89]

In [219]:
#Diferentemente de strings, que são imutáveis, listas são mutáveis, ou seja, 
#é possível alterar elementos individuais de uma lista. Para isso devemos
#dizer ao sistema qual é o elemento da lista que vamos mudar
acidentes[4] = 68
acidentes

[12, 23, 54, 65, 68, 129]

In [220]:
#Podemos também pode adicionar novos itens no final da lista, 
#usando o método append():
acidentes.append(98)
acidentes

[12, 23, 54, 65, 68, 129, 98]

In [221]:
#Finalmente, podemos manipular todos os dados de uma lista, apenas trabalhando
#com o índice. A função len(), que usamos para obter o tamanho de uma string
#para listas também vai funcionar, mas agora para saber quantos elementos 
#temos em uma lista
len(acidentes)

7

In [222]:
#Se você precisa iterar sobre sequências numéricas, a função embutida range() é 
#a resposta. Ela gera progressões aritméticas.
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [223]:
#Podemos inserir em uma lita todos os valores gerados pelo range()
lista = list(range(10))
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [224]:
#Exemplo de uma estrutura em laço contendo funções que aprendemos e uma informação nova
#Podemos definir duas variáveis ao mesmo tempo 'a, b = 0, 1'. Onde a=0 e b=1
lista = []
a, b = 0, 1
while a < 15:
  lista.append(a)
  a, b = b, a+b
lista

[0, 1, 1, 2, 3, 5, 8, 13]

##Instalação do Pandas no ambiente Python
O pip é um sistema de gerenciamento de pacotes padrão usado para instalar e gerenciar pacotes de software escritos em Python.
Muitos pacotes podem ser encontrados na fonte padrão para pacotes e suas dependências - Python Index Package. A maioria das distribuições do Python vem com o pip pré-instalado.
A sintax para instalação do Pandas ou qualquer outro pacote no Python é:
"pip install 'nome_pacote'"
Abaixo vocês podem conferir o código de instalação do pandas

In [225]:
pip install pandas

Traceback (most recent call last):
  File "/usr/local/bin/pip3", line 5, in <module>
    from pip._internal.cli.main import main
ModuleNotFoundError: No module named 'pip'

##Importar o pacote
Uma das taferas iniciais para composição do trabalho em Python é a importação dos pacotes que serão utilizados. Nesta etapa podemos sugerir ao sistema uma simplificação do nome do pacote.
Toda vez que usamos as ferramentas de um pacote, Pandas por exemplo, devemos 'dizer' ao sistema qual é o pacote, portando, escrever toda vez o nome do pacote (Pandas) no código pode se tornar uma tarefa exaustiva.
A sintaxe para importar qualquer pacote é: "import 'nome_pacote'". Nos casos que simplificamos o nome do pacote a sintaxe será: "import 'nome_pacote' as 'sigla_pacote'"
No código abaixo vocês podem verificar a sintaxe aplicada ao pacote Pandas.

In [226]:
import sys
import pandas as pd

In [227]:
pd.__version__

'1.3.5'

#Trabalhando com o Pandas
Vamos, inicialmente, trabalhar com esse banco de dados - [Relação de ocorrências de acidentes de trânsito com vítima - 2020](https://dados.pbh.gov.br/dataset/relacao-de-ocorrencias-de-acidentes-de-transito-com-vitima). Baixem este arquivo (você podem -ou devem- armazenar este arquivo no Google Drive de vocês, para que ele fique disponível na nuvem, independente do computador que estiverem acessando para executar os códigos.
Faça a leitura do arquivo csv, conforme código disponível.
É importante destacar a documentação oficial do Pandas [considerando 'input' e 'output'](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html).
Você deve formular algumas perguntas que possivelmente o banco de dados responderão, como por exemplo:

**Quais dias da semana tem mais e menos acidentes?**

**Qual a média de acidentes no período dos dados?**

**Qual o tipo de acidente que é mais frequênte?**

Entre outras...

In [228]:
ac = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/si-bol-2020.csv')

UnicodeDecodeError: ignored

In [229]:
#Após o erro de UnicodeDecodeError podemos modificar a codificação dos dados para ISO-8859-1
ac = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/si-bol-2020.csv', encoding = "ISO-8859-1")
ac.head()

   NUMERO_BOLETIM; DATA HORA_BOLETIM; DATA_INCLUSAO; TIPO_ACIDENTE; DESC_TIPO_ACIDENTE; COD_TEMPO; DESC_TEMPO; COD_PAVIMENTO; PAVIMENTO; COD_REGIONAL; DESC_REGIONAL; ORIGEM_BOLETIM; LOCAL_SINALIZADO; VELOCIDADE_PERMITIDA; COORDENADA_X; COORDENADA_Y; HORA_INFORMADA; INDICADOR_FATALIDADE; VALOR_UPS; DESCRIÇÃO_UPS; DATA_ALTERACAO_SMSA; VALOR_UPS_ANTIGA; DESCRIÇÃO_UPS_ANTIGA
0  2020-011831835-001;07/03/2020 06:00;07/03/2020...
1  2020-011838326-001;07/03/2020 08:27;07/03/2020...
2  2020-011841962-001;07/03/2020 06:53;07/03/2020...
3  2020-011849103-001;07/03/2020 10:10;07/03/2020...
4  2020-011854660-001;07/03/2020 10:48;07/03/2020...

In [230]:
#Outro problema com os dados. É necessário informar o Pandas que os dados são delimitados por ';'(ponto e vírgula)
ac = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/si-bol-2020.csv', delimiter=';', encoding = "ISO-8859-1")
ac.head()

,NUMERO_BOLETIM,DATA HORA_BOLETIM,DATA_INCLUSAO,TIPO_ACIDENTE,DESC_TIPO_ACIDENTE,COD_TEMPO,DESC_TEMPO,COD_PAVIMENTO,PAVIMENTO,COD_REGIONAL,...,VELOCIDADE_PERMITIDA,COORDENADA_X,COORDENADA_Y,HORA_INFORMADA,INDICADOR_FATALIDADE,VALOR_UPS,DESCRIÇÃO_UPS,DATA_ALTERACAO_SMSA,VALOR_UPS_ANTIGA,DESCRIÇÃO_UPS_ANTIGA
0,2020-011831835-001,07/03/2020 06:00,07/03/2020 06:58,H09002,COLISAO DE VEICULOS COM VITIMA ...,2,CHUVA,1,ASFALTO,25,...,0,605836.61,7798624.66,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
1,2020-011838326-001,07/03/2020 08:27,07/03/2020 08:34,H08002,CHOQUE MECANICO COM VITIMA ...,2,CHUVA,1,ASFALTO,23,...,60,610478.49,7810433.11,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
2,2020-011841962-001,07/03/2020 06:53,07/03/2020 09:19,H08002,CHOQUE MECANICO COM VITIMA ...,2,CHUVA,1,ASFALTO,0,...,0,605990.46,7806661.44,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
3,2020-011849103-001,07/03/2020 10:10,07/03/2020 10:40,H06002,ATROPELAMENTO DE PESSOA SEM VITIMA FATAL ...,0,NAO INFORMADO,0,NAO INFORMADO,25,...,0,0.00,0.00,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
4,2020-011854660-001,07/03/2020 10:48,07/03/2020 11:38,H01002,ABALROAMENTO COM VITIMA ...,1,BOM,1,ASFALTO,18,...,0,600896.61,7789929.77,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO

In [231]:
#A qualquer momento podemos visualizar qual o tipo do arquivo que estamos manipulando
#e também informações das variáveis
type(ac)
ac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10624 entries, 0 to 10623
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0    NUMERO_BOLETIM        10624 non-null  object
 1    DATA HORA_BOLETIM     10624 non-null  object
 2    DATA_INCLUSAO         10624 non-null  object
 3    TIPO_ACIDENTE         10624 non-null  object
 4    DESC_TIPO_ACIDENTE    10624 non-null  object
 5    COD_TEMPO             10624 non-null  int64
 6    DESC_TEMPO            10624 non-null  object
 7    COD_PAVIMENTO         10624 non-null  int64
 8    PAVIMENTO             10624 non-null  object
 9    COD_REGIONAL          10624 non-null  int64
 10   DESC_REGIONAL         10624 non-null  object
 11   ORIGEM_BOLETIM        10624 non-null  object
 12   LOCAL_SINALIZADO      10624 non-null  object
 13   VELOCIDADE_PERMITIDA  10624 non-null  int64
 14   COORDENADA_X          10624 non-null  float64
 15   COORDENADA_Y          10624 non-null  float64
 16   HORA_INFORMADA        10624 non-null  object
 17   INDICADOR_FATALIDADE  10624 non-null  object
 18   VALOR_UPS             10624 non-null  int64
 19   DESCRIÇÃO_UPS         10624 non-null  object
 20   DATA_ALTERACAO_SMSA   10624 non-null  object
 21   VALOR_UPS_ANTIGA      10624 non-null  int64
 22   DESCRIÇÃO_UPS_ANTIGA  10624 non-null  object
dtypes: float64(2), int64(6), object(15)
memory usage: 1.9+ MB

In [232]:
#Ainda sobre o tipo de variável, podemos usar a função .dtypes
ac.dtypes

 NUMERO_BOLETIM           object
 DATA HORA_BOLETIM        object
 DATA_INCLUSAO            object
 TIPO_ACIDENTE            object
 DESC_TIPO_ACIDENTE       object
 COD_TEMPO                 int64
 DESC_TEMPO               object
 COD_PAVIMENTO             int64
 PAVIMENTO                object
 COD_REGIONAL              int64
 DESC_REGIONAL            object
 ORIGEM_BOLETIM           object
 LOCAL_SINALIZADO         object
 VELOCIDADE_PERMITIDA      int64
 COORDENADA_X            float64
 COORDENADA_Y            float64
 HORA_INFORMADA           object
 INDICADOR_FATALIDADE     object
 VALOR_UPS                 int64
 DESCRIÇÃO_UPS            object
 DATA_ALTERACAO_SMSA      object
 VALOR_UPS_ANTIGA          int64
 DESCRIÇÃO_UPS_ANTIGA     object
dtype: object

In [233]:
#Vamos verificar todas as colunas que tem o BD
print(ac.columns)
#Podemos fazer a leitura de colunas específicas.
print(ac['TIPO_ACIDENTE'])

Index([' NUMERO_BOLETIM', ' DATA HORA_BOLETIM', ' DATA_INCLUSAO',
       ' TIPO_ACIDENTE', ' DESC_TIPO_ACIDENTE', ' COD_TEMPO', ' DESC_TEMPO',
       ' COD_PAVIMENTO', ' PAVIMENTO', ' COD_REGIONAL', ' DESC_REGIONAL',
       ' ORIGEM_BOLETIM', ' LOCAL_SINALIZADO', ' VELOCIDADE_PERMITIDA',
       ' COORDENADA_X', ' COORDENADA_Y', ' HORA_INFORMADA',
       ' INDICADOR_FATALIDADE', ' VALOR_UPS', ' DESCRIÇÃO_UPS',
       ' DATA_ALTERACAO_SMSA', ' VALOR_UPS_ANTIGA', ' DESCRIÇÃO_UPS_ANTIGA'],
      dtype='object')

KeyError: ignored

##Alterando campos de uma base de dados
A documentação do Pandas para renomear campos [Rename](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [234]:
#Renomeando todas as colunas do DataFrame. Existe a opção de manter os dados originais na variável ac
#e fazer o rename em uma nova variável, mas optei por salvar na mesma variável (inplace)
ac.rename(columns={' NUMERO_BOLETIM': 'NUMERO_BOLETIM', ' DATA HORA_BOLETIM':'DATA HORA_BOLETIM', 
                   ' DATA_INCLUSAO': 'DATA_INCLUSAO', ' TIPO_ACIDENTE':'TIPO_ACIDENTE', 
                   ' DESC_TIPO_ACIDENTE':'DESC_TIPO_ACIDENTE', ' COD_TEMPO':'COD_TEMPO', 
                   ' DESC_TEMPO':'DESC_TEMPO', ' COD_PAVIMENTO':'COD_PAVIMENTO', 
                   ' PAVIMENTO': 'PAVIMENTO', ' COD_REGIONAL':'COD_REGIONAL', 
                   ' DESC_REGIONAL':'DESC_REGIONAL', ' ORIGEM_BOLETIM':'ORIGEM_BOLETIM', 
                   ' LOCAL_SINALIZADO':'LOCAL_SINALIZADO', ' VELOCIDADE_PERMITIDA':'VELOCIDADE_PERMITIDA', 
                   ' COORDENADA_X':'COORDENADA_X', ' COORDENADA_Y':'COORDENADA_Y', 
                   ' HORA_INFORMADA':'HORA_INFORMADA', ' INDICADOR_FATALIDADE':'INDICADOR_FATALIDADE', 
                   ' VALOR_UPS':'VALOR_UPS', ' DESCRIÇÃO_UPS':'DESCRIÇÃO_UPS', 
                   ' DATA_ALTERACAO_SMSA':'DATA_ALTERACAO_SMSA', ' VALOR_UPS_ANTIGA':'VALOR_UPS_ANTIGA', 
                   ' DESCRIÇÃO_UPS_ANTIGA':'DESCRIÇÃO_UPS_ANTIGA'}, inplace = True)

print(ac.columns)

Index(['NUMERO_BOLETIM', 'DATA HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESCRIÇÃO_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESCRIÇÃO_UPS_ANTIGA'],
      dtype='object')

In [235]:
#Outra forma de modificar o nome dos campos, mais simples inclusive, é apenas 
#passando a lista de nomes que você deseja mudar na BD.
ac.columns = ['NUMERO_BOLETIM', 'DATA HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
              'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
              'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
              'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
              'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
              'DESCRIÇÃO_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA', 'DESCRIÇÃO_UPS_ANTIGA']

print(ac[['DESC_TIPO_ACIDENTE','DESC_TEMPO']])

                                      DESC_TIPO_ACIDENTE       DESC_TEMPO
0      COLISAO DE VEICULOS COM VITIMA                ...  CHUVA
1      CHOQUE MECANICO COM VITIMA                    ...  CHUVA
2      CHOQUE MECANICO COM VITIMA                    ...  CHUVA
3      ATROPELAMENTO DE PESSOA SEM VITIMA FATAL      ...  NAO INFORMADO
4      ABALROAMENTO COM VITIMA                       ...  BOM
...                                                  ...              ...
10619  ABALROAMENTO COM VITIMA                       ...  NAO INFORMADO
10620  CAPOTAMENTO/TOMBAMENTO COM VITIMA             ...  BOM
10621  ABALROAMENTO COM VITIMA                       ...  BOM
10622  ABALROAMENTO COM VITIMA                       ...  BOM
10623  ABALROAMENTO COM VITIMA                       ...  NAO INFORMADO

[10624 rows x 2 columns]

###Extraindo espaços
Uma forma mais elegante e menos trabalhosa é utilizando a função [.strip()](https://pandas.pydata.org/pandas-docs/version/0.24/reference/api/pandas.Series.str.strip.html)

In [236]:
ac.columns = ac.columns.str.strip()
ac.columns

Index(['NUMERO_BOLETIM', 'DATA HORA_BOLETIM', 'DATA_INCLUSAO', 'TIPO_ACIDENTE',
       'DESC_TIPO_ACIDENTE', 'COD_TEMPO', 'DESC_TEMPO', 'COD_PAVIMENTO',
       'PAVIMENTO', 'COD_REGIONAL', 'DESC_REGIONAL', 'ORIGEM_BOLETIM',
       'LOCAL_SINALIZADO', 'VELOCIDADE_PERMITIDA', 'COORDENADA_X',
       'COORDENADA_Y', 'HORA_INFORMADA', 'INDICADOR_FATALIDADE', 'VALOR_UPS',
       'DESCRIÇÃO_UPS', 'DATA_ALTERACAO_SMSA', 'VALOR_UPS_ANTIGA',
       'DESCRIÇÃO_UPS_ANTIGA'],
      dtype='object')

##Localizar um valor específico no BD
Antes de localizar um valor específico na nossa BD, podemos fazer uma lista com todos os valores existentes naquele campo, ou seja, tirar os valores duplicados (existe uma função equivalente no excel). Uma das formas de tirar os valores duplicados é a função [drop_duplicates](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html)
O link para a documentação da função [loc](https://pandas.pydata.org/docs/reference/api/pandas.Series.loc.html)

In [237]:
#Extraindo uma lista com  todos os valores disponíveis
ac['DESC_TIPO_ACIDENTE'].drop_duplicates()
lista_acidentes = ac['DESC_TIPO_ACIDENTE'].drop_duplicates()
df = lista_acidentes.str.strip()
lista_acidentes = pd.Series(data=df)
lista_acidentes.index = list(range(len(lista_acidentes)))
lista_acidentes

0              COLISAO DE VEICULOS COM VITIMA
1                  CHOQUE MECANICO COM VITIMA
2    ATROPELAMENTO DE PESSOA SEM VITIMA FATAL
3                     ABALROAMENTO COM VITIMA
4    ATROPELAMENTO DE PESSOA COM VITIMA FATAL
5           CAPOTAMENTO/TOMBAMENTO COM VITIMA
6                  QUEDA DE PESSOA DE VEICULO
7                 QUEDA DE VEICULO COM VITIMA
8                           OUTROS COM VITIMA
9          ATROPELAMENTO DE ANIMAL COM VITIMA
Name: DESC_TIPO_ACIDENTE, dtype: object

In [238]:
#Valos realizar uma consulta na BD com todos os dados de um tipo específico de
#acidente.
ac.loc[ac['DESC_TIPO_ACIDENTE']=='COLISAO DE VEICULOS COM VITIMA']

Empty DataFrame
Columns: [NUMERO_BOLETIM, DATA HORA_BOLETIM, DATA_INCLUSAO, TIPO_ACIDENTE, DESC_TIPO_ACIDENTE, COD_TEMPO, DESC_TEMPO, COD_PAVIMENTO, PAVIMENTO, COD_REGIONAL, DESC_REGIONAL, ORIGEM_BOLETIM, LOCAL_SINALIZADO, VELOCIDADE_PERMITIDA, COORDENADA_X, COORDENADA_Y, HORA_INFORMADA, INDICADOR_FATALIDADE, VALOR_UPS, DESCRIÇÃO_UPS, DATA_ALTERACAO_SMSA, VALOR_UPS_ANTIGA, DESCRIÇÃO_UPS_ANTIGA]
Index: []

[0 rows x 23 columns]

In [239]:
#Após o erro vamos verificar a BD
print(ac)

           NUMERO_BOLETIM DATA HORA_BOLETIM     DATA_INCLUSAO TIPO_ACIDENTE  \
0      2020-011831835-001  07/03/2020 06:00  07/03/2020 06:58        H09002
1      2020-011838326-001  07/03/2020 08:27  07/03/2020 08:34        H08002
2      2020-011841962-001  07/03/2020 06:53  07/03/2020 09:19        H08002
3      2020-011849103-001  07/03/2020 10:10  07/03/2020 10:40        H06002
4      2020-011854660-001  07/03/2020 10:48  07/03/2020 11:38        H01002
...                   ...               ...               ...           ...
10619  2020-042517640-001  02/09/2020 21:49  02/09/2020 21:55        H01002
10620  2020-042552651-001  03/09/2020 06:14  03/09/2020 06:52        H02002
10621  2020-042559653-001  03/09/2020 06:38  03/09/2020 08:13        H01002
10622  2020-042561806-001  03/09/2020 08:20  03/09/2020 08:30        H01002
10623  2020-042562698-001  03/09/2020 07:36  03/09/2020 08:36        H01002

                                      DESC_TIPO_ACIDENTE  COD_TEMPO  \
0      COLISAO DE VEICULOS COM VITIMA                ...          2
1      CHOQUE MECANICO COM VITIMA                    ...          2
2      CHOQUE MECANICO COM VITIMA                    ...          2
3      ATROPELAMENTO DE PESSOA SEM VITIMA FATAL      ...          0
4      ABALROAMENTO COM VITIMA                       ...          1
...                                                  ...        ...
10619  ABALROAMENTO COM VITIMA                       ...          0
10620  CAPOTAMENTO/TOMBAMENTO COM VITIMA             ...          1
10621  ABALROAMENTO COM VITIMA                       ...          1
10622  ABALROAMENTO COM VITIMA                       ...          1
10623  ABALROAMENTO COM VITIMA                       ...          0

            DESC_TEMPO  COD_PAVIMENTO        PAVIMENTO  COD_REGIONAL  ...  \
0      CHUVA                        1  ASFALTO                    25  ...
1      CHUVA                        1  ASFALTO                    23  ...
2      CHUVA                        1  ASFALTO                     0  ...
3      NAO INFORMADO                0  NAO INFORMADO              25  ...
4      BOM                          1  ASFALTO                    18  ...
...                ...            ...              ...           ...  ...
10619  NAO INFORMADO                0  NAO INFORMADO              23  ...
10620  BOM                          1  ASFALTO                    24  ...
10621  BOM                          1  ASFALTO                    26  ...
10622  BOM                          1  ASFALTO                    21  ...
10623  NAO INFORMADO                0  NAO INFORMADO              20  ...

      VELOCIDADE_PERMITIDA COORDENADA_X COORDENADA_Y  HORA_INFORMADA  \
0                        0    605836.61   7798624.66             SIM
1                       60    610478.49   7810433.11             SIM
2                        0    605990.46   7806661.44             SIM
3                        0         0.00         0.00             SIM
4                        0    600896.61   7789929.77             SIM
...                    ...          ...          ...             ...
10619                    0    611258.96   7805085.04             SIM
10620                    0    607215.08   7791414.14             SIM
10621                    0    604707.12   7808355.35             SIM
10622                    0    615119.76   7804832.47             SIM
10623                    0    613005.42   7796171.03             SIM

       INDICADOR_FATALIDADE  VALOR_UPS  DESCRIÇÃO_UPS DATA_ALTERACAO_SMSA  \
0                       NÃO          0  NÃO INFORMADO          00/00/0000
1                       NÃO          0  NÃO INFORMADO          00/00/0000
2                       NÃO          0  NÃO INFORMADO          00/00/0000
3                       NÃO          0  NÃO INFORMADO          00/00/0000
4                       NÃO          0  NÃO INFORMADO          00/00/0000
...                     ...        ...            ...                 ...
10619                   NÃO          0  NÃO INFORMADO          00/00/0000
10620                   NÃO          0  NÃO INFORMADO          00/00/0000
10621                   NÃO          0  NÃO INFORMADO          00/00/0000
10622                   NÃO          0  NÃO INFORMADO          00/00/0000
10623                   NÃO          0  NÃO INFORMADO          00/00/0000

       VALOR_UPS_ANTIGA DESCRIÇÃO_UPS_ANTIGA
0                     0        NÃO INFORMADO
1                     0        NÃO INFORMADO
2                     0        NÃO INFORMADO
3                     0        NÃO INFORMADO
4                     0        NÃO INFORMADO
...                 ...                  ...
10619                 0        NÃO INFORMADO
10620                 0        NÃO INFORMADO
10621                 0        NÃO INFORMADO
10622                 0        NÃO INFORMADO
10623                 0        NÃO INFORMADO

[10624 rows x 23 columns]

In [240]:
#Para arrumar a base de dados, que tem espaços, podemos resolver dessa forma
ac['DESC_TIPO_ACIDENTE'] = ac['DESC_TIPO_ACIDENTE'].str.strip()
#ac['DESC_TIPO_ACIDENTE'] = ac['DESC_TIPO_ACIDENTE'].str.strip().str.replace('\s*,\s*', ',', regex=True) -- Não é necessário usar dessa forma
print(ac['DESC_TIPO_ACIDENTE'])

0                  COLISAO DE VEICULOS COM VITIMA
1                      CHOQUE MECANICO COM VITIMA
2                      CHOQUE MECANICO COM VITIMA
3        ATROPELAMENTO DE PESSOA SEM VITIMA FATAL
4                         ABALROAMENTO COM VITIMA
                           ...
10619                     ABALROAMENTO COM VITIMA
10620           CAPOTAMENTO/TOMBAMENTO COM VITIMA
10621                     ABALROAMENTO COM VITIMA
10622                     ABALROAMENTO COM VITIMA
10623                     ABALROAMENTO COM VITIMA
Name: DESC_TIPO_ACIDENTE, Length: 10624, dtype: object

In [241]:
#Localizando dados com informaão específica
ac.loc[ac['DESC_TIPO_ACIDENTE']=='COLISAO DE VEICULOS COM VITIMA']

,NUMERO_BOLETIM,DATA HORA_BOLETIM,DATA_INCLUSAO,TIPO_ACIDENTE,DESC_TIPO_ACIDENTE,COD_TEMPO,DESC_TEMPO,COD_PAVIMENTO,PAVIMENTO,COD_REGIONAL,...,VELOCIDADE_PERMITIDA,COORDENADA_X,COORDENADA_Y,HORA_INFORMADA,INDICADOR_FATALIDADE,VALOR_UPS,DESCRIÇÃO_UPS,DATA_ALTERACAO_SMSA,VALOR_UPS_ANTIGA,DESCRIÇÃO_UPS_ANTIGA
0,2020-011831835-001,07/03/2020 06:00,07/03/2020 06:58,H09002,COLISAO DE VEICULOS COM VITIMA,2,CHUVA,1,ASFALTO,25,...,0,605836.61,7798624.66,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
11,2020-011871733-001,06/03/2020 19:00,07/03/2020 14:34,H09002,COLISAO DE VEICULOS COM VITIMA,0,NAO INFORMADO,0,NAO INFORMADO,24,...,0,0.00,0.00,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
12,2020-011877048-001,07/03/2020 14:04,07/03/2020 15:09,H09002,COLISAO DE VEICULOS COM VITIMA,4,NUBLADO,1,ASFALTO,21,...,0,612212.06,7802031.84,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
15,2020-011884930-001,07/03/2020 14:52,07/03/2020 15:59,H09002,COLISAO DE VEICULOS COM VITIMA,0,NAO INFORMADO,0,NAO INFORMADO,18,...,0,600064.25,7787743.42,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
35,2020-011965221-001,08/03/2020 00:05,08/03/2020 01:43,H09002,COLISAO DE VEICULOS COM VITIMA,1,BOM,1,ASFALTO,19,...,0,612017.10,7794855.76,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10551,2020-035903764-001,26/07/2020 18:53,26/07/2020 19:38,H09002,COLISAO DE VEICULOS COM VITIMA,1,BOM,1,ASFALTO,21,...,0,605027.20,7797323.03,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
10553,2020-042103010-001,31/08/2020 15:58,31/08/2020 16:40,H09002,COLISAO DE VEICULOS COM VITIMA,1,BOM,1,ASFALTO,18,...,0,605000.82,7789410.06,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
10555,2020-042107125-001,31/08/2020 16:22,31/08/2020 20:32,H09002,COLISAO DE VEICULOS COM VITIMA,1,BOM,1,ASFALTO,24,...,0,606377.03,7793512.09,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
10604,2020-042444016-001,31/08/2020 09:00,02/09/2020 15:07,H09002,COLISAO DE VEICULOS COM VITIMA,0,NAO INFORMADO,0,NAO INFORMADO,25,...,0,608945.94,7803758.79,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO
10616,2020-042495061-002,02/09/2020 18:58,02/09/2020 20:03,H09002,COLISAO DE VEICULOS COM VITIMA,1,BOM,1,ASFALTO,22,...,0,605836.61,7798624.66,SIM,NÃO,0,NÃO INFORMADO,00/00/0000,0,NÃO INFORMADO

##Trabalhando com datas no pandas
Inicialmente devemos transformar a string armazenada no campo 'HORA DATA_BOLETIM' em um datetime (variável de data e horário).
O código abaixo cria uma nova coluna, baseado no 'HORA DATA_BOLETIM'.
A documentação oficial no site do [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.weekday.html)

In [242]:
ac['DATA_BO'] = pd.to_datetime(ac["DATA HORA_BOLETIM"])

#Quais dias da semana tem mais e menos acidentes?
Vamos utilizar a função [groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html).
A função groupby realizará o agrupamento dos dados baseado em algum campo. Geralmente a função é precedido de outra função como: mean(), count(), sum(), max(), min(), etc.

In [243]:
#A semana inicia na Segunda=0, Domingo=6.
count = ac.groupby(ac['DATA_BO'].dt.weekday).NUMERO_BOLETIM.count()
count.name = 'Contagem'
count = pd.DataFrame(count)
count['Dia_semana'] = ['Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo']
count.index.name = None
count

   Contagem Dia_semana
0      1488    Segunda
1      1491      Terça
2      1618     Quarta
3      1640     Quinta
4      1610      Sexta
5      1456     Sábado
6      1321    Domingo

In [244]:
#Encontrando o dia com maior número de acidentes na semana
max = count['Contagem'].max()
dia_max = count.loc[count['Contagem']==max]
max = dia_max.iloc[0]['Contagem']
dia = dia_max.iloc[0]['Dia_semana']
min = count['Contagem'].min()
dia_min = count.loc[count['Contagem']==min]
min = dia_min.iloc[0]['Contagem']
dia1 = dia_min.iloc[0]['Dia_semana']

print('O dia com maior número de acidentes é',dia,'e o número de acidentes é igual a',max)
print('O dia com menor número de acidentes é',dia1,'e o número de acidentes é igual a',min)

O dia com maior número de acidentes é Quinta e o número de acidentes é igual a 1640
O dia com menor número de acidentes é Domingo e o número de acidentes é igual a 1321

#Qual a média de acidentes no período dos dados?

In [245]:
media = ac.index.max()/365
df = ac.groupby(ac['DESC_TIPO_ACIDENTE']).NUMERO_BOLETIM.count()
print('A média de acidentes por dia é de', round(media,2),'e a média por tipo de acidente está apresentada a seguir:\n\n',round(df/365,2))

A média de acidentes por dia é de 29.1 e a média por tipo de acidente está apresentada a seguir:

 DESC_TIPO_ACIDENTE
ABALROAMENTO COM VITIMA                     13.36
ATROPELAMENTO DE ANIMAL COM VITIMA           0.10
ATROPELAMENTO DE PESSOA COM VITIMA FATAL     0.11
ATROPELAMENTO DE PESSOA SEM VITIMA FATAL     2.86
CAPOTAMENTO/TOMBAMENTO COM VITIMA            2.07
CHOQUE MECANICO COM VITIMA                   5.22
COLISAO DE VEICULOS COM VITIMA               4.17
OUTROS COM VITIMA                            0.25
QUEDA DE PESSOA DE VEICULO                   0.95
QUEDA DE VEICULO COM VITIMA                  0.02
Name: NUMERO_BOLETIM, dtype: float64

#Qual o tipo de acidente que é mais frequênte?

In [246]:
tipo_ac = ac.groupby(ac['DESC_TIPO_ACIDENTE']).NUMERO_BOLETIM.count()
tipo_ac = pd.DataFrame(tipo_ac)
tipo_ac.columns = ['Contagem']
tipo_ac.index.name = None
max = tipo_ac['Contagem'].max()
dia_max = tipo_ac.loc[tipo_ac['Contagem']==max]
max = dia_max.iloc[0]['Contagem']
tipo = dia_max.iloc[0].name
print('O tipo de acidente com maior ocorrência no banco de dados é o', tipo,'com',max,'acidentes')

O tipo de acidente com maior ocorrência no banco de dados é o ABALROAMENTO COM VITIMA com 4875 acidentes